.style-switcher {
  position: fixed;
  right: 0;
  top: 60px;
  padding: 15px;
  width: 200px;

  background: var(--bg-black-900);
  z-index: 101;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(70%);
}

.style-switcher .day-night {
  top: 55px;
  background: var(--bg-black-100);
}

.style-switcher .s-icon {
  border-radius: 50%;
}

.style-switcher .day-night.s-icon i.fas {
  width: 40px; /* Adjust the width and height as needed */
  height: 40px; /* Adjust the width and height as needed */
  border: 2px solid slategrey; /* Border color and width */
  border-radius: 50%; /* Make it a circle by setting the border-radius to 50% */
  display: flex;
  justify-content: center;
  align-items: center;
}
